@import "./Utils/variables";
@import "./Utils/mixins";
@import "./layouts/header";
@import "./layouts/footer";
@import "./Pages/accueil";
@import "./Pages/menus";

/* layout général */
html {
    font-size: 16px;
    font-family: $font-family-default;
    ul, ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    body {
        margin: 0;
        background-color: darken($background-light, 8%);
    }
}





