@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil";
@import "./pages/menus";


/* layout général */
html {
    font-size: 16px;
    font-family: $font-family-default;
    ul, ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    body {
        position: relative;
        margin: 0;
        background-color: darken($background-light, 8%);
        .waiter {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            background-color: $background-middle;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            opacity: 0.9;
            transform: scale(0);
            animation: appear 2000ms backwards;
            &__element {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 90px;
                animation: waiter 3000ms linear;
                &--purple {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    top: 15px;
                    right: 7px;
                    background-color: $color-first;
                    animation: waiter 3000ms linear;
                    animation-direction: reverse;
                }
                &--pink {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    bottom: 30px;
                    background-color: $color-second;
                    animation: waiter 3000ms linear;
                    animation-direction: reverse;
                }
                &--green {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    top: 15px;
                    left: 7px;
                    background-color: $color-third;
                    animation: waiter 3000ms linear;
                    animation-direction: reverse;
                }
            }              
        }
        fieldset {
            padding-top: 0;
            padding-bottom: 0;
            border: none;
        }
    }
}





