.background {
    display: flex;
    align-items: center;
    height: 40vh;
    img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}    
.menu {
    @media all and (min-width: 768px) {
        padding-left: 20vw;
        padding-right: 20vw;
        margin-top: 0;
    }
    background-color: $background-middle;
    margin-top: -40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    @for $i from 0 through 9 {
        .delay-#{$i} {
            animation: menus 1000ms 200ms*$i ease-out forwards;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-family: $font-family-logo;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        &__name {
            font-size: 1.6rem;
            margin: 0;
            margin-right: auto;
        }
        &__like {
            position: relative;
            top: 2px;
            width: 24px;
            height: 24px;
            font-size: 1.5rem;
            margin-left: auto;
            background: $background-like;
            cursor: pointer;
            &:hover .menu__heading__like--empty {
                height: 0px;
            }
            &--empty {
                position: absolute;
                height: 24px;
                width: 24px;
                line-height: 24px;
                overflow: hidden;
                transition: 1000ms ease;
                & > i {
                    background-color: $background-middle;
                    z-index: 1;
                }                    
            }
            &--full {
                position: absolute;
                height: 24px;
                width: 24px;
                line-height: 24px;
                background: $background-middle;
                mix-blend-mode: lighten; 
            }
        }
    }
    &__part{
        border-bottom: 3px solid $color-third;
        width: 40px;
        padding: 40px 0 7px 0;
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    &__dish {
        @include box-shadow;
        display: flex;
        border-radius: 15px;
        background-color: $background-light;
        margin-bottom: 20px;
        margin-left: 12px;
        margin-right: 12px;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;            
        &__name {
            margin-left: 10px;
            margin-right: 10px;
            overflow: hidden;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1rem;
            span {
                display: block;
                overflow: hidden;
                margin-top: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: $font-light;
                font-size: 0.9rem;
            }
        }
        &__price {
            margin-left: auto;
            align-self: flex-end;
            font-weight: $font-bold;
        }
        &__checked {
            width: 0;
            min-width: 0px;
            height: 74px;
            margin: 0;
            margin-left: 20px;
            background-color: $color-third;
            text-align: center;
            transition: all 400ms ease;          
        }
        .fas.fa-check-circle {
            font-size: 20px;
            line-height: 75px;
            color: white; 
        }
        &:hover .menu__dish__checked {   
            min-width: 60px;
            & .fas.fa-check-circle {
                transition: 400ms ease;
                transform: rotate(360deg);
            }
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin: 0;
        &__button {
            @include btn;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 60px;
        } 
    }
}