
$font-family-default: "Roboto", sans-serif;
$font-family-logo: "Shrikhand", sans-serif;
$font-light: 400;
$font-bold: 700;
$color-first: #9356DC;
$color-second: #FF79DA;
$color-third: #99E2D0;
$background-u-light:white;
$background-light: #FFFFFF;
$background-middle: #F6F6F6;
$background-dark: #353535;



