header {
    background-color: $background-light;
    display: flex;
    align-items: center;
    box-shadow:  0 0 5px #CACACA;
    nav {
        position: absolute;
        margin-left: 6%;
        i {
            font-size: 1.1rem;
        }
    }
    a {
        margin-left: auto;
        margin-right: auto;
        font-family: $font-family-logo;
        font-size: 1.8rem;
        line-height: 63px;
    }
}