& > header {
    height: 63px;
    background-color: $background-light;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 5px #CACACA;
    nav {
        position: absolute;
        left: 20px;
        i {
            font-size: 1.1rem;
        }
    }
    a {
        font-family: $font-family-logo;
        font-size: 1.8rem;
        
    }
}