html {
    font-size: 16px;
    font-family: $font-family-default;
    body {
        position: relative;
        margin: 0;
        background-color: darken($background-light, 8%);
        ul, ol {
            margin: 0;
            padding-left: 0;
            list-style: none;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .waiter {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            background-color: $background-middle;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            opacity: 0.9;
            transform: scale(0);
            animation: appear 2000ms backwards;
            &__element {
                width: 90px;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                animation: waiter 3000ms linear;
                &--purple {
                    @include waiter_elements;
                    top: 15px;
                    right: 7px;
                    background-color: $color-first;
                }
                &--pink {
                    @include waiter_elements;
                    bottom: 30px;
                    background-color: $color-second;

                }
                &--green {
                    @include waiter_elements;
                    top: 15px;
                    left: 7px;
                    background-color: $color-third;
                }
            }              
        }
        @import "./header";
        @import "./main";
        @import "./footer";
    }
}